# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/de_DE-thorsten-high.onnx
src-tauri/resources/de_DE-thorsten-high.onnx
Raw-Dictonaries/*

# Dictionary files
public/*.json
public/*.db
public/*.db.gz
